extends master.pug

block pageLevelCss
    link(rel='stylesheet', href='/css/home.css')

block content
    each post in posts
        .row.home-posts
            .col-md-12.single-post
                a(href="/posts/"+post._id)
                    h3.title #{post.title}
                div.description #{post.content}
                div.post-basic-info
                    div.at-time #{post.date} ago
                    div.post-by-user
                        strong #{post.user.first_name} #{post.user.last_name}
